/* Common CSS */

hr{
  margin: 0.3rem 0;
}

.main{
  display: block;
  padding-top: 10px;
}
.post-list {
   margin: 0 4px 0 18px; /* top right bottom left  */
}
 
.p-l-side{
  background-color: hsl(0, 0%, 100%);
  padding:0 5px 0 5px;  /*top right bottom left  */
  /* top: 53px; */
}

/* for categories and subcategories */

.filter-title {
  font-weight: 600;
}
.filter-data {
  border-top: 2px solid #012025;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 150px); */
  gap: 8px;
  grid-auto-flow: dense;
}
.dropend{
  /* background-color: rgb(192, 190, 190); */
  margin-bottom: 5px;
  border-radius: 10px;
  padding-left: 4px;
}

.filter-data ul {
  padding-left: 0;
}
.filter-item p{
  margin: 0;
}
.filter-item a {
  text-decoration: none;
  color: rgb(24, 13, 13);
}

.filter-item {
  display: grid;
  grid-template-columns: 20px auto 30px;
  margin: 8px 1px 0 1px;/* top right bottom left  */
  height: fit-content;
}

.filter-item:hover {
  background-color: rgb(245, 217, 217);
  color: aliceblue;
  border-radius:  10px;
}

/* <<<<<<<<<<< Screen*/
@media (max-width: 891px) {
  #side-bar{
    display: block !important;
    margin-bottom: 50px;
  }
}
