{% extends 'base.html' %}
{% comment %} displays blog detail and category lists {% endcomment %}
{% comment %}
    found in blog_detail in article_v.py
{% endcomment %}

{% load static %}   

{% block title %} Blog Detail {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog/blog_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/blog/blog_home.css' %}">
<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
<style>
 
</style>
{% endblock css %}

{% block content %}
<section class=" post-list body-container">
   
    <div class="p-l-main p-d-main item2 container-xxl" id="main">
        <!-- Geting Category that is holding the Subcategory -->
        <h5 class="p-d-header p-d-info">
            <a href="{% url 'main_index' %}">
                Home
            </a> 
            <a href="{% url 'blog:blog_home' %}">
                <span id="span-h">/</span> 
                Blog
            </a>
            <span id="span-h">/</span>
            {{ blog.title }}
        </h5>
        <div class="p-d-body bg--white">
            <div class="p-d-container">
                <div class="p-d-banner">
                    <img src="{{blog.image.url}}" alt="{{ blog.title }}">
                </div>
                <div class="p-d-profile">
                    <img src="{{ blog.author.profile.image.url}}" alt="Profile image">
                </div>
           </div>
            <div class="p-d-info item2"> 
              <ol class="post-header">
                <li>By <span>{{ blog.author.username }}</span> </li>
                <li>Published on<i>:</i> <span>{{ blog.date_published|date:"F j, Y" }}</span> </li>
                <li><i class="fa fa-comments"></i> {{ blog.comments.count  }}</li>
                <li><i class="fa fa-eye"></i> {{ blog.formatted_views_count }}</li>
              </ol>

            </div>

            <div class="card-text content">
                {{ blog.content|safe }}
            </div>
            {% comment %} tags {% endcomment %}
            <div class="tags--"> 
                {% comment %} <h6>Tags <i class="bi bi-tags-fill"></i>:</h6> {% endcomment %}
                {% for tag in blog.tags.all %}
                <div class="tag"><i class="bi bi-tags-fill"></i> <a href="{% url 'blog:tag_blogs' tag.slug %}">{{ tag.name }}</a></div>
                {% endfor %}
            </div>
            {% comment %} end of tags {% endcomment %}
        </div>{% comment %}End Of Blog Detail{% endcomment %}
        <div class="related_blogs bg--white">
            <h3 style="text-align: center;background-color: azure">More Articles from {{ blog.author }}</h3>
            {% if author_blogs %}
            <div class="itme2 post-wrapper">
                {% for author_blog in author_blogs %}
                <div>
                    <div class="post">
                        <a href="{{ author_blog.get_absolute_url }}">
                        <img class="thumbnail" src="{{ author_blog.image.url }}">
                        </a>
                        <div class="post-preview">
                            <p class="post-title ">
                            <a href="{{ author_blog.get_absolute_url }}">
                            <b>{{ author_blog.title|safe| truncatechars:50 }}</b>
                            </a></p>
                        </div>

                        <ol class="post-footer">
                        <li><i class="bi bi-clock-fill"></i>{{ author_blog.read_time }}<i class="bi bi-book-half"></i></li>
                        <li><i class="fa fa-comments"></i>{{ author_blog.comment_count  }}</li>
                        <li><i class="fa fa-eye"></i>{{ author_blog.formatted_views_count }}</li>
                        </ol>
                    </div> 
                </div>
    
              {% endfor %}
            </div>
            {% else %}
                    <div class="centered alert alert-warning"><b>No other posts by {{ blog.author }}</b></div>
                {% endif %}
        </div>{% comment %}End Of Related Blogs{% endcomment %}
        <div class="comments-area bg--white">
            <div>
                <h2 style="text-align: center; background-color: azure; margin-top: 20px;">{{ blog.comments.count }} Comments</h2>
            {% for comment in comments %}
            <div class="comments">
                
                <div class="c-top-">
                    <b style="display: flex;align-items: center;">{{ comment.name }}</b>
                    <h6> {{ comment.created_date|date:"M d, Y" }}  {{ comment.created_date|time:"h m, s" }}</h6>
                </div>
                <hr style="margin-top: 0;">
                <p>{{comment.content}}</p>
                
            </div>
            {% endfor %}
            </div> {% comment %}End Of Comment Details {% endcomment %}
           
           {% comment %}
           start of comment form, found in blog_detail in article_v.py
           {% endcomment %}
            <div class="write-comments">
                <form method="post" style="padding-top: 0; ">
                    <h4 style="text-align: center; background-color: azure; margin-top: 20px;">
                        Leave a comment
                    </h4>
                    {% csrf_token %}
                    <div class="form-group name-email">
                        <div>
                            <label for="name">Name</label>
                            {{ comment_form.name }}
                        </div>
                        <div>
                            <label for="email">Email</label>
                            {{ comment_form.email }}
                        </div>
                    </div>
                    <div class="form-group w-comment">
                        <label for="message">Message</label>
                        {{ comment_form.content }}
                    </div>
                    
                    <div class="form-group">
                        <p class="text-secondary">If you have a <a href="#" class="alert-link">gravatar account</a> your address will be used to display your profile picture.</p>
                    </div>
                    <div class="form-inline">
                        <input type="checkbox" name="check" id="checkbx" class="mr-1">
                        <label for="subscribe">Subscribe me to the newsletter</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="post-button" class="btn">Post Comment</button>
                    </div>
                </form>
            </div>{% comment %}End Of Comment form{% endcomment %}
       </div> 
    </div>{% comment %}End Of Main Body{% endcomment %}
    {% include 'blog/article/blog_side_bar.html' %}
</section>
{% endblock content %}

{%block js%}
{%endblock js%}