
{% extends 'base.html' %}
{% load static %}

{% block title %} 
  <title>Home</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/description.css' %}" type="text/css">

{% endblock css %}

{% block content %}
 <section class=" description"> <!-- s2 -->
    <div id="description-page"  class=" container">
        <div class="item2 des-p text-center container">
            <div>
            <h1> 
              {{info.heading}}
              <!-- Fast, efficient and result Oriented -->
            </h1>
        </div>
            <div class="des-p-p">
            <p>
              {{info.body}}
                <!-- Do you have an idea,TEKNICS Technologies is here to help you turn that idea
                into a reality. We build and deploy Web Apps, Websites, Computer Softwares and Mobile Apps. You name it We do it.     -->
            </p>
        </div>
            <button class="text-center" type="submit">Go to Projects</button>
        </div>
        <div class="tech">
          {% for tech in tech %}
            <div class="card__item">
                <span class="card__tag {{tech.color}}">{{tech.p_name}}</span>
                <!-- <h6 class="card__title">{{tech.projects}}</h6> -->
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fa fa-check-square"></i><span class="card__actions--text"> >>> </span></li>
                    <ol class="card__avatars">
                  <li class="card__avatars--item">
                    <!-- Photo by Philip Martin on Unsplash -->
                    <img src="{{tech.images.url}}" alt="Man standing near balcony" class="avatar__image">
                  </li>
                </ol>
                </ol>
              </div>
{% endfor %}
             
        </div>            
    </div>  
  </section>
{% endblock content %}