{% extends 'maindashboard/dashboard_base.html' %}
{% comment %} displays Write  {% endcomment %}

{% load static %}

{% block title %} Blog List Page {% endblock title %}
{% block css %}
{{form.media}}
<link rel="stylesheet" href="{% static 'css/blogdashboard/author/write_new_article.css' %}"> 
<style>
   
</style>
{% endblock css %}
{% block content %}
 

<!-- Write New Articles -->
<section class="item2 section write-A-page">
    <div class="write-a-c bg--white">
        <div id="w-a-heading">
            <h2> Write a New Article</h2>
        </div>
        <div class="content-body">
            <h1>Company Information</h1>
            {% if company_info %}
            <ul>
                <li><strong>Name:</strong> {{ company_info.name }}</li>
                <li><strong>Phone Number:</strong> {{ company_info.phone_number }}</li>
                <li><strong>Email:</strong> {{ company_info.email }}</li>
                <li><strong>Address:</strong> {{ company_info.address }}</li>
            </ul>
            {% else %}
            <p>No company information available.</p>
            {% endif %}
        </div>
    </div>
</section>