{% extends 'maindashboard/dashboard_base.html' %}

{% comment %} displays blog lists and category lists {% endcomment %}

{% load static %}

{% block title %} Main Dashboard Home{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blogdashboard/dashboard_home.css' %}">
<link rel="stylesheet" href="{% static 'css/blogdashboard/common.css' %}">
<style>
 
</style>
{% endblock css %}

{% block content %}
{% comment %} <!-- home --> {% endcomment %}
<section class="item2 section home-page" id="home">
    {% comment %} dashboard_article_v.py {% endcomment %}
    {% comment %} infor cards  {% endcomment %}
        <div class="info-cards">
            {% comment %} TOTAL NO FO BLOGS WRITTEN{% endcomment %}
            <a href="{% url 'blog:written_article_list' %}">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Articles Written</span>
                            <span id="span2">{{ total_blogs }}</span>
                        </div>
                        <i class="green d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Total written articles</p>
                </div>
                <div class="card-bar bg--green"></div>
            </div>
            </a>
            {% comment %} END {% endcomment %}       
            {% comment %} Total published articles {% endcomment %}
            <a href="{% url 'blog:published_article_list' %}">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Published Articles</span>
                            <span id="span2">{{ total_published_blogs }}</span>
                        </div>
                        <i class="pink d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Total published articles</p>
                </div>
                <div class="card-bar bg--pink"></div>
            </div>
            </a>
            {% comment %} end {% endcomment %}
            {% comment %} Website Total Visitors {% endcomment %}
            <a href="{% url 'visit_list'%}">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Total visitors</span>
                            <span id="span2">{{ total_visitors }}</span>
                        </div>
                        <i class="blue d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Website Total Visitors </p>
                </div>
                <div class="card-bar bg--blue"></div>
            </div>
            </a>
            {% comment %} end {% endcomment %}
            {% comment %} Total number of visits {% endcomment %}
            <a href="" style="cursor: default;">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Total visits</span>
                            <span id="span2">{{ total_visits }}</span>
                        </div>
                        <i class="yellow d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Total number of visits</p>
                </div>
                <div class="card-bar bg--yellow"></div>
            </div>
            </a>
            {% comment %} END OF COMMENTS {% endcomment %}
        </div>
    {% comment %} end info cards {% endcomment %}

    {% comment %} |||||||||COMMON FOR MANY PAGES|||||||||| {% endcomment %}
        {% comment %} VISIT WEBSITE {% endcomment %}
        <div class="bfr-r-a">
            <div id="bfr-r-a">
                    <!--<i class="fas fa-chart-line "></i>-->
                <div class="d-inline" style="padding: 0 10px;">
                    <!--T/B, L/R  
                    <h5 style="margin: 0;">Recent Published Articles</h5>
                    <span>List of your recently published articles.</span>-->
                </div>
            </div>
            <div class="visit-website">
                <button><a href="{% url 'blog:blog_home' %}">
                        <i class="fa fa-paper-plane" style="padding-right: 10px;color: #0a600a;"></i>
                        Visit website
                    </a></button>
            </div>
        </div>
        {% comment %} END OF VISIT WEBSITE  {% endcomment %}
        {% if recent_blogs %}
        {% comment %} RECENT ARTICLES {% endcomment %}
        <div class="recent-articles">
            <div id="r-a-heading">
                <h2> Recent Published Articles

            </div>
            {% for blog in recent_blogs %}
            <div id="r-a-body">
                <div class="r-a-body">
                    <div class="img" >
                        <img class="" src="{{ blog.image.url }}" alt="" height="80" width="130">
                    </div>
                    <div style="padding-left: 10px;">
                        <div>
                            <ol class="post-arthur">
                                <li><h6>Title:</h6> <span>{{blog.title}}</span> </li>
                                <li><h6>Arthur<i>:</i></h6> <span>{{ blog.author.username }}</span> </li>
                            </ol>

                        </div>
                        <div class="meta mb-1">
                            <span class="date">
                            <b>Published:</b> 
                            <i>{% comment %} {{ blog.date_published|timesince|slice:":9"}} ago {% endcomment %}
                                {{ blog.date_published|timesince|slice:":20"|add:" ago" }}
                            </i>
                            </span>
                            <span class="date">
                                <b>Status:</b> 
                                <i>
                                    {{ blog.status }}
                                </i>
                            </span>
                            {% comment %} if rected is True {% endcomment %}
                            {% if blog.rejected %} 
                                <span class="text-warning date">Rejected <i class="bi bi-x-octagon"></i></span>
                                {% comment %} if approved is True {% endcomment %}
                            {% elif blog.approved %}
                                <span class="text-success date">Approved <i class="bi bi-check2-square"></i></span>
                                {% comment %} if none of the above is true {% endcomment %}
                            {% else %}
                                <span class="text-info date">Not verified <i class="bi bi-app-indicator"></i></span>
                                {% comment %} end {% endcomment %}
                            {% endif %}
                            <span class="time">{{ blog.word_count }} words</span>
                            <span class="time">{{ blog.read_time }} read</span>
                            <span class="comment">{{ blog.formatted_views_count }} views</span>
                            <span class="comment"><a href="#">{{ blog.comment_count }} comments</a></span>
                            {% comment %} dropdown {% endcomment %}
                            <div class="dropdown time">
                                <button class="btn dropdown-toggle" type="button" id="time-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-chevron-down dropdown-btn"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="time-dropdown">
                                    <li>
                                        <a class="dropdown-item confirm-btn" 
                                        data-title="Are you sure you want to edit {{blog.title}}?"
                                        data-id = "edit"
                                        {% comment %} data-message="Once you edit it, original content will be lost."  {% endcomment %}
                                        data-url="{% url 'blog:blog_edit' slug=blog.slug %}" 
                                        data-button="Edit"
                                        data-bs-toggle="modal">
                                        Edit Article
                                        </a>
                                    </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item confirm-btn" 
                                    data-title="Are you sure you want to Hide {{blog.title}}?"
                                    data-id="hide"
                                    {% comment %} data-message="Once you hide it will not be available for other."  {% endcomment %}
                                    data-url="{% url 'blog:blog_hide' slug=blog.slug %}" 
                                    data-button="Hide"
                                    data-bs-toggle="modal">
                                    Hide Article
                                    </a>
                                </li>
                                </ul>
                            </div>
                            {% comment %}end of dropdown {% endcomment %}
                        </div>
                        <a class="r-a-more-link" href="{% url 'blog:das_article_detail' slug=blog.slug %}">View details →</a>
                        <hr class="solid" style="height: 6px;margin: 0.5rem 0;"> <!-- Solid divider -->
                    </div>
                </div>
            </div>
            {% empty %}
            <div>No blogs published yet.</div>
            {% endfor %}
        </div>
        {% comment %} END OF RECENT ARTICLES {% endcomment %}
        {% endif %}
    {% comment %} |||||||||END COMMON FOR MANY PAGES|||||||||| {% endcomment %}
</section>
{% comment %} <!-- end Home --> {% endcomment %}


{% endblock content %}

{%block js%}
{%endblock js%}