ul{
  padding-left: 0;
}
.top-footer a{
  text-decoration: none;
  color: #c3b5b5;
}
.top-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap:30px;
    justify-content: center;
    padding-bottom: 70px;
    grid-auto-flow: dense; /*helps rearrange Item to fit well on grid*/
    background-color: rgb(20, 19, 19);
    color: #c3b5b5;
    padding-top: 20px;
    position: relative;
    z-index: 2;
  }

.top-footer div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* align-items: center; */
}
#f-socialmedia ul{
    display: flex;
    /* justify-content: space-around; */
}
#f-socialmedia ul li{
    margin: 0 5px;
    border-radius: 50px;
    font-size: 20px;
    
}
#f-socialmedia ul li a{
    display: flex;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}
#f-socialmedia ul li:hover{
    background: grey;
    
}
