{% extends 'base.html' %}
{% load static %}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
{% block css%}
<link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock css%}
{% block title%}
<title>Profile</title>
{% endblock title%}

{% block content %}


<section class="s2 profile">
    <h2 class="profile-page-heading center">Edit your profile</h2>
    <div class='container' action="" method="POST" enctype="multipart/form-data">
        <div class="profile-photo">
            <a href="{{user.profile.profile_img.url}}">
                <img src="{{user.profile.profile_img.url}}" alt="user-image" class="profile_pic">
            </a>
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
        </div>

        <div class="user-content">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Profile Info</legend>
                  {{ u_form.as_p }}
                  <!-- User form -->
                  {{ p_form.as_p }}
                  <!-- Profile form -->
                </fieldset>
                <div class="form-group">
                  <button class="profile-save-button" type="submit">Update</button>
                </div>
              </form>
            </div>
        </div>
</section>
{% endblock content%}
{% block js %}
<script>

    var id_name = document.getElementById('id_name')
    var id_title = document.getElementById('id_title')
    var id_desc = document.getElementById('id_desc')
    id_name.placeholder = 'Your Name'
    id_title.placeholder = 'Your Title'
    id_desc.placeholder = 'Description'

</script>
{% endblock js %}