{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/users/profile_home.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">
{% endblock css %}

{% block content %}
<section class="s2 profile">
  <div class=" profile-main  container-xl">
    <div class=" img-area">
      <div class="  profile-photo">
        <a href="{{user.profile.image.url}}">
          <img src="{{user.profile.image.url}}" alt="user-image" width="150" height="150"
            class="profile-pic rounded-circle">
        </a>
        <div class="info-">
          <h5 class="account-heading">{{ user.username }} </h5>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
        <div class="  select-">
          <ul>
            <li>
              <a href="#profile-info" id="p-i">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="#activites" id="e-p">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span>Recent Activities</span>
              </a>
            </li>
            <li>
              <a href="#edit-profile" id="a-">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span>Edit Profile</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="  socialMedia-area">
        <ul>
          <li>
            <a href="#" class="github">
              <i class="fa fa-github" aria-hidden="true"></i>
              <span> Github</span>
              <!-- <span class="sm-names"> Github name</span> -->
            </a>
          </li>


          <li>
            <a href="#">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              <span> Google</span>
              <!-- <span class="sm-names"> Google name</span> -->
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span> Instagram</span>
              <!-- <span class="sm-names"> Instagram name</span> -->
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section id="profile-info">
      <div class=" info-area">
        <div class=" info-area-s">
          <div class="user-details">
            <ul>
              <li style=" margin-top: 10px; ">
                <i class=" U-fixed-details">Name </i>
                <span class="U-valiable-details">{{ user.first_name }} {{ user.last_name }}</span>
              </li>
              <hr class="hr-dashed"> <!-- Creates dashed horizontal lines -->
              <li>
                <i class="U-fixed-details">Phone number </i>
                <span class="U-valiable-details">{{ user.profile.phone_number }}</span>
              </li>
              <hr class="hr-dashed">
              <li>
                <i class="U-fixed-details">Country </i>
                <span class="U-valiable-details">{{ user.profile.country }}</span>
              </li>
              <hr class="hr-dashed">
              <li>
                <i class="U-fixed-details">Title </i>
                <span class="U-valiable-details">{{ user.profile.title }}</span>
              </li>
              <hr class="hr-dashed">
              <li>
                <i class="U-fixed-details">Description </i>
                <span class="U-valiable-details" style="font-size: 12px;">{{ user.profile.desc }}</span>
              </li>
              <hr class="hr-dashed">
            </ul>
          </div>
          <div class="current-projects">
            <div class="current-areas">
              <div class="current-no">
                <p>35</p>
              </div>
              <div>
                <ul>
                  <li>
                    <h6>Elvis Website</h6>
                  </li>
                  <li>
                    <i>Started:</i>
                    <span>15 July 2021</span>
                  </li>
                  <li>
                    <i>Deadline:</i>
                    <span>15 July 2021</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="current-areas">
              <div>
                <p>35</p>
              </div>
              <div>
                <ul>
                  <li>
                    <h6>Elvis Website</h6>
                  </li>
                  <li>
                    <i>Started:</i>
                    <span>15 July 2021</span>
                  </li>
                  <li>
                    <i>Deadline:</i>
                    <span>15 July 2021</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="current-areas">
              <div>
                <p>35</p>
              </div>
              <div>
                <ul>
                  <li>
                    <h6>Elvis Website</h6>
                  </li>
                  <li>
                    <i>Started:</i>
                    <span>15 July 2021</span>
                  </li>
                  <li>
                    <i>Deadline:</i>
                    <span>15 July 2021</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="current-areas">
              <div>
                <p>35</p>
              </div>
              <div>
                <ul>
                  <li>
                    <h6>Elvis Website</h6>
                  </li>
                  <li>
                    <i>Started:</i>
                    <span>15 July 2021</span>
                  </li>
                  <li>
                    <i>Deadline:</i>
                    <span>15 July 2021</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="edit-profile" style="justify-items: center;">
       
      <div class="form-info">
        <div class="form" style="margin-bottom: 10px;">
          
          <form method="post" style="padding-top: 0;">
            <h6 class="text-center" style="margin-bottom: 0; color: rgb(117, 117, 228);">
              Edit profile information here
            </h6> 
            {% csrf_token %}
            <div class=" user-form signup">
              
              <!-- User form -->
              {{ u_form.as_p }}
              <p>
                <label for="id_phone_number">Phone number:</label>
                {{p_form.phone_number}}
                
              </p>
              <p>
                <label for="id_country">Country:</label>
                {{p_form.country}}
              </p>
              <p>
                <label for="id_title">Title:</label>
                {{p_form.title}}
                </p>
                <p class="img-change">
                  <label for="id_image">Image:</label>
                 {{p_form.image}}
               </p>
            </div>
            <div class="profile-form signup">
              <p>
                <label for="id_desc">Desc:</label>
                {{p_form.desc}}
               </p>
               
                
            </div>
            

            <p class="full" style="padding-top: 6px;">
              <button type="submit" value="register" style=" padding: 5px; width: 120px; margin-left: 40%; 
              border-radius: 25px;
              ">Update</button>
            </p>
          </form>
        </div>
      </div>
    </section>
    <section id="activities" class="center" style="height: 600px; width: 100%; background-color: blueviolet;">
      <h2>no activities</h2>
    </section>
  </div>
</section>
{% endblock content %}

{% block js %}
<script>
  var x = document.getElementById("p-i");
  var y = document.getElementById("a-");
  var z = document.getElementById("e-p");
  x.addEventListener("click", myFunction);
  y.addEventListener("click", mySecondFunction);
  z.addEventListener("click", myThirdFunction);

  function myFunction() {
    var x = document.getElementById("profile-info");
    var y = document.getElementById("edit-profile");
    var z = document.getElementById("activities");
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  }

  function mySecondFunction() {
    var x = document.getElementById("profile-info");
    var y = document.getElementById("edit-profile");
    var z = document.getElementById("activities");
    x.style.display = "none";
    y.style.display = "grid";
    z.style.display = "none";
  }

  function myThirdFunction() {
    var x = document.getElementById("profile-info");
    var y = document.getElementById("edit-profile");
    var z = document.getElementById("activities");
    x.style.display = "none";
    y.style.display = "none";
    z.style.display = "block";
  }
</script>
{% endblock js %}