
{% load static %}
<!doctype html>
<html>

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Geniousta">
    <meta name="keywords" content="Web, development, Blog, Django-Blog, Django-app, ">
    <title>{% block title%} {% endblock title%}</title>
    
    <link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" href="{% static 'css/assets/animate.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/assets/Bootstrap-Icons-v1.10.5.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Production version 
    <script src="https://unpkg.com/@popperjs/core@2"></script>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="{% static 'css/blogdashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/blogdashboard/dashboard_nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/blogdashboard/dashboard_sidebar.css' %}">
    
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    {% block css%} {% endblock css%}
</head>

<body class="preload">
    <header class="header">
        <button class="header__button" id="btnNav" type="button">
            <a href="#" title="Image from freeiconspng.com">
                <img src="https://www.freeiconspng.com/uploads/menu-icon-18.png" width="350" alt="Menu Symbols" />
            </a>
        </button>
        <div id="logo">
            <div class="logo">
                {% comment %} cdt
                <span>blog</span> {% endcomment %}
                dashboard
            </div>
        </div>
        {% comment %} <div id="navbar_d">
            <h2>DASHBOARD</h2>
        </div> {% endcomment %}

        <div class="user nav-item dropdown">
            {% if user.is_authenticated %}
              <a class="dropdown-toggle" style="background:none; "id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.profile.image.url}}" width="40" height="40" class="rounded-circle" alt="Avatar">
              </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li> <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a></li>
                    <!-- <a href="#" class="dropdown-item">
                        <i class="fa fa-calendar-o"></i> Calendar
                    </a> -->
                    <li> <a href="{% url 'password_change' %}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Change password
                    </a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li> <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="fa fa-person-walking-arrow-right"></i> Logout
                    </a> </li>
                  </ul>
            {% else %}
                <a href="{% url 'user:Login' %}"> 
                    <span>Login</span>  </a>
            {%endif %}
        </div>
    </header>

    <nav class="nav" id="nav">
        <div class="nav__links">
            <a href="{% url 'blog:dashboard_home' %}" class="nav__link nav__link--active">
                <i class="bi bi-house-check-fill"></i>
                Home
            </a>
            <a href="{% url 'blog:blog_create' %}" class="nav__link ">
                <i class="bi bi-pencil-fill"></i>
                Write an Article
            </a>
            <div class="nav__link dropdown">
                <span class="dropdown-btn" aria-expanded="false">
                    <i class="bi bi-list-task"></i>
                        List <span style="padding-left: 2px;">&darr;</span>
                </span>

                <div class="dropdown-content">
                    <a href="{% url 'blog:written_article_list' %}">
                        <i class="bi bi-book-fill"></i>
                            Written Articles
                    </a>
                    <a href="{% url 'blog:published_article_list' %}">
                       <i class="bi bi-bookmark-check-fill"></i>
                            Published Articles
                    </a>
                    <a href="{% url 'blog:drafted_article_list' %}">
                        <i class="bi bi-bookmark-x"></i>
                            Drafted Articles
                    </a>

                    <a href="{% url 'blog:hidden_article_list' %}">
                        <i class="bi bi-eye-slash-fill"></i>
                            Hidden Articles
                    </a>
                    <a href="{% url 'blog:approved_article_list' %}">
                        <i class="bi bi-check2-square"></i>
                            Approved Articles
                    </a>
                    <a href="{% url 'blog:rejected_article_list' %}">
                        <i class="bi bi-x-octagon"></i>
                            Rejected Articles
                    </a>
                </div>
            </div>

            <a href="{% url 'blog:category_create' %}" class="nav__link">
                <i class="bi bi-plus-square-fill"></i>
                Submit new category
            </a>
            <a href="{% url 'blog:subcategory_create' %}" class="nav__link">
                <i class="bi bi-plus-square-fill"></i>
                Submit new subcategory
            </a>
            <div class="nav__link dropdown">
                <span class="dropdown-btn" aria-expanded="false">
                    <i class="bi bi-person-lines-fill"></i>
                        Profile<span style="padding-left: 2px;">&darr;</span>
                </span>
                <div class="dropdown-content">
                    <a href="{{ item.get_absolute_url }}">
                        <i class="bi bi-person-bounding-box"></i>
                            View Profile
                    </a>
                    <a href="{{ item.get_absolute_url }}">
                        <i class="bi bi-pencil-square"></i>
                            Update Profile
                    </a>
                </div>

            </div>
            {% comment %} <a href="{% url 'blog:about' %}" class="nav__link" style="margin-bottom:0px;">
                <i class="bi bi-eyeglasses"></i>
                    About
            </a> {% endcomment %}
        </div>
        <!--sidemenu Slider-->
        <div class="nav__overlay"></div>
        <!--Large display Screens-->


    </nav>
    {% comment %} <!-- Modal Hide Articles--> {% endcomment %}
    <div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="hideArticleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirm-modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                    {% csrf_token %}
                <div class="modal-body">
                    <p id="confirm-message"></p>
                    {% comment %} only displays the reject form if Blog rejected is False {% endcomment %}
                    {% if not blog.rejected %}
                    <label for="{{ form.rejection_reason.id_for_label }}">Rejection Reason:</label>
                    {{ form.rejection_reason }}
                    {%endif%}
                    {% comment %} END {% endcomment %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="confirm-btn" type="button" class="btn btn-primary"></button>
                </div>
            </form>
          </div>
        </div>
      </div>
      
    {% comment %} end modal  {% endcomment %}

    <main class="body-container containerl-xxl">
        <div class="item" id="side-bar">
            <div class="side__links">
                <a href="{% url 'blog:dashboard_home' %}" class="side__link side__link--active">
                    <i class="bi bi-house-check-fill"></i>
                    Home
                    
                </a>
                <a href="{% url 'blog:blog_create' %}" class="side__link ">
                    <i class="bi bi-pencil-fill"></i>
                    Write an Article
                </a>
                <div class="side__link dropdown">
                    <span class="dropdown-btn" aria-expanded="false">
                        <i class="bi bi-list-task"></i>
                        List <span style="padding-left: 2px;">&darr;</span>
                    </span>

                    <div class="dropdown-content">
                        <a href="{% url 'blog:written_article_list' %}">
                            <i class="bi bi-book-fill"></i>
                            Written Articles
                        </a>
                        <a href="{% url 'blog:published_article_list' %}">
                            <i class="bi bi-bookmark-check-fill"></i>
                            Published Articles
                        </a>
                        <a href="{% url 'blog:drafted_article_list' %}">
                            <i class="bi bi-bookmark-x"></i>
                            Drafted Articles
                        </a>

                        <a href="{% url 'blog:hidden_article_list' %}">
                            <i class="bi bi-eye-slash-fill"></i>
                            Hidden Articles
                        </a>
                        <a href="{% url 'blog:approved_article_list' %}">
                            <i class="bi bi-check2-square"></i>
                            Approved Articles
                        </a>
                        <a href="{% url 'blog:rejected_article_list' %}">
                            <i class="bi bi-x-octagon"></i>
                            Rejected Articles
                        </a>
                    </div>
                </div>
                <a href="{% url 'blog:category_create' %}" class="side__link">
                    <i class="bi bi-plus-square-fill"></i>
                    Submit new category
                </a>
                <a href="{% url 'blog:subcategory_create' %}" class="side__link">
                    <i class="bi bi-plus-square-fill"></i>
                    Submit new subcategory
                </a>
                <div class="side__link dropdown">
                    <span class="dropdown-btn" aria-expanded="false">
                        <i class="bi bi-person-lines-fill"></i>
                        Profile<span style="padding-left: 2px;">&darr;</span>
                    </span>
                    <div class="dropdown-content">
                        <a href="{{ item.get_absolute_url }}">
                            <i class="bi bi-person-bounding-box"></i>
                            View Profile
                        </a>
                        <a href="{{ item.get_absolute_url }}">
                            <i class="bi bi-pencil-square"></i>
                            Update Profile
                        </a>
                    </div>

                </div>
                <a href="" class="side__link" style="margin-bottom:0px;">
                    <i class="bi bi-eyeglasses"></i>
                    About
                </a>
            </div>
        </div>
        <div class="item" id="main"> 
            {% comment %} display messages {% endcomment %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <script>
                    setTimeout(function() {
                        var messages = document.querySelector('.messages');
                        if (messages) {
                        messages.style.display = 'none';
                        }
                    }, 1000); // 3000 milliseconds = 3 seconds
                </script>
            {% comment %} END of display messages {% endcomment %}
            <div>
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>

    </main>
    <button id="hide-button" ><div class="indicator"></div></button>
    <script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/modals.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/blogdashboard/hide_sidebar.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/blogdashboard/popup_window.js' %}" type="text/javascript"></script>

    {% comment %} <script src="{% static 'js/Text_Resize.js' %}" type="text/javascript"> </script> {% endcomment %}
    {% block js%} {% endblock js%}
    {% comment %} <script>
        var x = document.getElementById("p-i");
        var y = document.getElementById("a-");
        var z = document.getElementById("e-p");
        x.addEventListener("click", myFunction);
        y.addEventListener("click", mySecondFunction);
        z.addEventListener("click", myThirdFunction);

        function myFunction() {
            var x = document.getElementById("profile-info");
            var y = document.getElementById("edit-profile");
            var z = document.getElementById("activities");
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        }

        function mySecondFunction() {
            var x = document.getElementById("profile-info");
            var y = document.getElementById("edit-profile");
            var z = document.getElementById("activities");
            x.style.display = "none";
            y.style.display = "grid";
            z.style.display = "none";
        }

        function myThirdFunction() {
            var x = document.getElementById("profile-info");
            var y = document.getElementById("edit-profile");
            var z = document.getElementById("activities");
            x.style.display = "none";
            y.style.display = "none";
            z.style.display = "block";
        }
    </script> {% endcomment %}
    {% comment %} <script>
        $(function() {
          var message = '{{ messages }}';
          if (message !== '') {
            $('#popupMessage').text(message);
            $('#popupMessage').removeClass('d-none');
            setTimeout(function() {
              $('#popupMessage').addClass('d-none');
            }, 5000);
          }
        });
    </script> {% endcomment %}
    
</body>

</html>