
{% extends 'maindashboard/dashboard_base.html' %}
{% comment %} displays Write  {% endcomment %}

{% load static %}

{% block title %} Information Footer {% endblock title %}
{% block css %}
{{form.media}}
<link rel="stylesheet" href="{% static 'css/blogdashboard/author/write_new_article.css' %}"> 
{% comment %} <link rel="stylesheet" href="{% static 'css/top-footer.css' %}" type="text/css"> {% endcomment %}
<style>
    .content-links{
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 30px;
        justify-content: center;
        padding-bottom: 70px;
        grid-auto-flow: dense;
        /* background-color: rgb(20, 19, 19); */
        padding-top: 20px;
        position: relative;
        z-index: 2;
    }
    .in-heading{
        text-align: center;
    }
    .content-links .edit-icon-h{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dcefef;
    }
    .content-links a{
        color: black;
    }
    .content-links .edit-icon a{
        color: red;
    }
    .f-company, .f-contact{
        
        margin: 20px 0;
    }
   .f-company, #f-contact, #f-socialmedia{
    background-color: azure;
    padding: 5px;
    }
   .fa-triangle-exclamation{
        color: red;
   }
</style>
{% endblock css %}
{% block content %}
 
<section class="item2 section write-A-page">
    <div class="write-a-c bg--white">
        <div id="w-a-heading">
            <h2> Footer Information</h2>
            <h6 class="warning">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Click the edit/add button to edit or save new footer information.
            </h6>
        </div>
        <div class="content-body">
            <footer class="top--footer">
                <div class="f-company">
                    <h4 class="in-heading">Footer content with links</h4>
                    <div class=" content-links edit-icon-h">
                        {% if top_footer_headings %}
                        {% for heading in top_footer_headings %}
                        <div class="edit-icon-h">
                            <h4>{{ heading.heading }}</h4>
                            <ul>
                                {% for content_item in heading.content_items.all %}
                                <li>
                                    <a href="http://{{ content_item.url|safe }}">{{ content_item.content }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="edit-icon">
                                <a href="{% url 'create_top_footer_content' pk=heading.id %}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="edit-icon-h">
                            <p>No Footer information. Click the add button to add new</p>
                        </div>
                        {% endif %}
                        <div class="edit-icon">
                            <a href="{% url 'create_top_footer_content' %}">
                            <i class="bi bi-database-fill-add"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="f-contact">
                    <div id="f-contact" class="edit-icon-h">
                        <h4 class="in-heading">Contact</h4>
                        <ul>
                            <li>
                                203 Waithaka, Dagoretti, Nairobi 
                            </li>
                            <li> 
                                bettahealth@temporary.com 
                            </li>
                            <li>+254781236749</li>
                        </ul>
                        <div class="edit-icon">
                            <a href="{% url 'edit_company_contact_info'%}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>
                    <div id="f-socialmedia" class="edit-icon-h">
                        <h4 class="in-heading">Social Media</h4>
                        <ul>
                            {% if links in social_media_links %}
                            <li>
                                <a href="{{ links.facebook_link }}"><i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ links.twitter_link }}"><i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ links.whatsapp_link }}"><i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ links.linkedIn_link }}"><i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            {% else %}
                            <p>No Social Media Accounts Saved</p>
                            {% endif %}
                        </ul>
                        <div class="edit-icon">
                            <a href="{% url 'create_social_media_links' %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
    
            </footer>
        </div>
    </div>
</section>

{% endblock content%}