<!--users/templates/registration/password_reset_confirm.html-->

{% extends 'base.html' %}
{% load static %}
{% block title %} 
  <title>Password reset</title>
{% endblock title %}

{% block css %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">
<style>
    
  </style>
{% endblock css %}
{% block content %}
<section class="s2 user_info ">
    <div id="side-page" class="container">
        {% if validlink %}
        <h1 class="brand"><span>Password reset</span></h1>
        <div class=" wrapper animated bounceInLeft ">
        <div class="company-info" id="bg" style="background-image: url('{% static "images/pexels-thisisengineering-3913025.jpg"%}')";>
            <h3>TEKNICS Technologies</h3>
            <ul>
            <li>(254) 704 168 140</li>
            <li>Teknics@gmail.com</li>
            </ul>
            
        </div>
        <div>
    <div class="form-info">
        
    <div class="form">
    <form method="post">
        <div >
        {% csrf_token %}
        {{ form.as_p }}
    </div>
        
    
        <p class="full">
        <button type="submit" >Reset password</button>
        </p>
    </form>
</div>
</div>
</div>
</div>
 
{% else %}
<h1 class="brand" style=" margin-top: 200px;"><span>Password reset link Invalid</span></h1>
        <div class="wrapperD animated bounceInLeft " style=" border: 1px solid red; height: 100px; text-align: center;">
          <p style="padding-top: 40px; font-size: 16px">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
          
</div>
{% endif %}
</div> 
</section>

{% endblock %}