<!--users/templates/registration/password_reset_form.html-->

{% extends 'base.html' %}

{% load static %}
{% block title %} 
  <title>Passowrd reset</title>
{% endblock title %}

{% block css %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">
<style>
    
  </style>
{% endblock css %}
{% block content %}
<section class="s2 user_info ">
    <div id="side-page" class="container">
        <h1 class="brand"  style="margin-top: 100px;"><span>Password Reset</span></h1>
        <div class="wrapper animated bounceInLeft ">
        <div class="company-info" id="bg" style="background-image: url('{% static "images/pexels-thisisengineering-3913025.jpg"%}')";>
            <h3>TEKNICS Technologies</h3>
            <ul>
            <li>(254) 704 168 140</li>
            <li>Teknics@gmail.com</li>
            </ul>
            
        </div>
        <div>
    <div class="form-info">
    <div class="form">
    <form method="post">
        <div >
        {% csrf_token %}
        {{ form.as_p }}
    </div>
       
    
        <p class="full">
        <button type="submit">Reset</button>
        </p>
    </form>
</div>
<div class="buttons">
<a href="{% url 'login' %}">Login</a>
</div>
</div>

</div>
</div>
</div>  
</section>
{% endblock %}