{% extends 'base.html' %}
{% comment %} helps in displaying the Topics 
and Blogs Associated with the Subcategory clicked {% endcomment %}

{% load static %}

{% block title %} Blog List Page {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog/blog_list.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/blog/blog_detail.css' %}"> {% endcomment %}
<style>
 
</style>
{% endblock css %}

{% block content %}
<section class="post-list body-container">

    {% comment %} BLOGS LIST DISPLAY {% endcomment %}
    <div class="p-l-main item2 bg-white" id="main" >
            <div class="article-heading">
              Available Articles under {{ subcategory.name }} category 
            </div>
        
            {% if blogs %}
            <div class="itme2 post-wrapper">
              {% for article in blogs %}
              <div>
                  <div class="post">
                      <img class="thumbnail" src="{{ article.image.url }}">
                      
                      <div class="post-preview">
                          <h6 class="post-title ">
                            <a href="{{ article.get_absolute_url }}">
                            <b>{{ article.title }}</b>
                          </a></h6>
                          <!-- <p class="post-intro"></p> -->
                          {{ article.content|safe| truncatechars:50 }}
                          <a href="{{ article.get_absolute_url }}">Read More</a>
                      </div>

                      <ol class="post-footer">
                        <li><i class="bi bi-clock-fill"></i>{{ article.read_time }}<i class="bi bi-book-half"></i></li>
                        <li><i class="fa fa-comments"></i>{{ article.comment_count  }}</li>
                        <li><i class="fa fa-eye"></i>{{ article.formatted_views_count }}</li>
                      </ol>
                  </div> 
              </div>
    
              {% endfor %}
          </div>
            {% else %}
                    <div class="centered alert alert-warning"><b>No Articles</b></div>
            {% endif %}
    </div> 
    {% comment %} END OF BLOGS LIST DISPLAY {% endcomment %}-

    {% comment %} SIDE BAR {% endcomment %}
    <div class="p-l-side item2" id="side-bar">
        
      <hr> 
      <h6 class="filter-title" > 
          Categories 
          <i class="fa fa-hand-down" aria-hidden="true"></i>
      </h6>
      <hr>
      <div class="filter-data">
          <ul class=" dropend">
          {% for category in categories %}
          <li class="filter-item">
              <p>>></p>
              <a href="{{category.get_absolute_url }}">{{ category.name }}</a>
              <label for="">{{ category.blog_count }}</label>
          </li>
          {% empty %}
          <li>No subcategories found.</li>
          {% endfor %}
      </ul>
          
      </div>
  </div>
  {% comment %} END OF SIDE BAR {% endcomment %}
</section>
{% endblock content %}

{%block js%}
{%endblock js%}