{% extends 'base.html' %}
{% load static %}

{% block title %}
  Contact Us
{% endblock title %}

{% block css %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
</style>
{% endblock css %}

{% block content %}
<section class="s2 contact ">
  <div id="contact-page" class="item container">
    <h1 class="brand"><span>Contact Form</span></h1>
    <div class="wrapper animated bounceInLeft ">
      <div class="company-info">
        <h3>
          {{side_info.name}}
          <!-- TEKNICS Technologies -->
        </h3>
        <ul>
          <li>{{side_info.phone_number}}</li>
          <li>{{side_info.email}}</li>
          <li>{{side_info.address}}</li>
        </ul>

        <!-- <div class="social-contact">
              <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                      <span> - Facebook</span>
                    </a>
                  </li>
                  <li>

                  <li>
                    <a href="#">
                      <i class="fa fa-google-plus" aria-hidden="true"></i>
                      <span> - Google</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                      <span> - Instagram</span>
                    </a>
                  </li>
            </div> -->
      </div>
      <div class="contact">
        <h3>Email us</h3>
        <form method="post">
          {% csrf_token %}
          <p>
            <label for="id_name">Name</label>
            {{form.name}}
          </p>
          <p>
            <label for="id_email">Email</label>
            {{form.email}}
          </p>
          <p>
            <label for="id_phone_number">Phone number</label>
            {{form.phone_number}}
          </p>
          <p>
            <label for="id_subject">Subject</label>
            {{form.subject}}
          </p>
          <p class="full">
            <label for="id_message">Message</label>
            {{form.message}}
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
        <!-- <form method="post">
      {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Submit</button>
      </form> -->
      </div>
    </div>
  </div>

</section>
{% endblock content%}

{% block js %}

{% endblock js %}