section{
  display: flex;
  flex-direction: row;
}
#contact-page{
    /* background: rgba(255, 255, 255, 0.15); */
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.27);
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
.company-info  ul{
    list-style: none;
    padding:0;
  }
  .brand{
    text-align: center;
  }
  .brand span {
    color: rgb(36, 22, 22);
  }
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94, 116, 0.7);
    border-radius: 10px;
  }
  .wrapper > *{
    padding: 1em;
  }
  .company-info{
    background: #c6c9cd;
  }
  .company-info h3, .company-info ul{
    text-align: center;
    margin: 0 0 1rem 0;
  }
   /*.contact{
    background: #8d9597;
  }
  
  IDEA:  FORM STYLES */
  /* .contact form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  } */
  .contact form label{
    display: block;
  }
  .contact form p{
    margin: 0 ;
  }
  .full{ /* for message box, button */
    grid-column: 1/ 3
  }
  .contact form button, .contact form input, .contact form textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
  }
  .contact form button{
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
  }
  .contact form button:hover, .contact form button:focus{
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 2s  ease-out;
  }
  .contact p input{
      height: 10px;
  }
  #id_message{
    height: 100px;
    width: 100%;
  }
/* Social Media contact Buttons */
/* .social-contact{
    height: 50px;
    margin:0;
    padding:0;
    background:#ccc;
    font-family: 'Roboto Condensed', sans-serif;
  
  }
  
  .social-contact ul {
    top: 60px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin:0;
    padding:0;
  }
  
  ul li {
    list-style:none;
    margin:0 5px;
  }
  
  ul li a .fa {
    font-size: 20px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:10px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  ul li:hover .fa {
    color:#fff;
  }
  
  ul li:hover span {
    color:#fff;
  }
  
  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  /* ul li:hover:nth-child(2) a{
    background: #00aced;
  }
  ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
  ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
  }
  
  ul li:hover:nth-child(3) a{
    background: #dd4b39;
  }
  ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
  }
  ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
  }
  
  ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
  ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
  ul li:hover:nth-child(4) a:after{
    background: #e46880;
  } */
  
  /* IDEA: LARGE SCREENS */
  @media(min-width: 700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .wrapper > *{
      padding: 1em;
    }
    .company-infor h3, .company-info ul, .band{
      text-align: center;
    }
    .contact form{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:20px;
    }
  }