.services{
    display: grid;
    grid-template-columns: auto 400px;
    align-items: center;
}
.div1{ 
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
	grid-gap:10px;
    margin-top: 20px;
    margin-bottom: 20px;
	justify-content: center;
	grid-auto-flow: dense; /*helps rearrange Item to fit well on grid*/
    
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.fa-icon{
    font-size: 24px;
}

.div2{
    padding: 20px;
    background: white;
    margin: 20px 30px;
    height: fit-content;
}
.div2 h5{
    text-align: center;
    background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
    color: white;
    font-weight: 700;
    padding: 10px 0;
}
.form-group{
    margin: 5px 0;
}
input{
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button button{
    border-radius: 20px;
    padding: 2px 20px;
    background: linear-gradient(to right, #0f71c3 0%, #39b49a 100%);
    color: white;
    font-weight: 600;
}
.button button:hover{
    background: linear-gradient(to right, #39b49a 0%, #0f71c3 100%);
}

/* IDEA: Mobile to Tablet */
@media (min-width: 320px) and (max-width: 826px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .div1, .div2{
        width: 90%;
        padding: 20px;
    }
}